footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(174, 114, 227);
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem 0;
}
li{
    margin-left: 2rem;
}
.footer-dhlogo{
    max-width: 300px;
}
.footer-icon{
    max-width: 40px;
}
.footer-menu{
    display: flex;
}
.footer-text{
    font-family: "Poppins", sans-serif;
    padding-left: 18px;
}