@use '../index' as *;

.form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    width: 500px;

}

.form-label {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

input {
    padding: 0.3rem 0.5rem;
    border: none;
    box-shadow: 1px 2px 10px 0px rgba(55, 36, 72, 1);
    border-radius: 10px;
    background: rgb(249, 246, 252);
    outline: none;
}

.label-light {
    color: $dark-purple;
}

.label-dark {
    color: $white
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

.form-btn {
    align-self: center;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.btn-light {
    background: $dark-purple;
    color: $white;
}

.btn-dark {
    background: $white;
    color: $dark-purple;
}

.form-mssg {
    text-align: center;
    align-self: center;
}