@use '../index' as *;
nav{
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -8px 33px -21px rgba(55,36,72,1);
    align-items: center;
}
.nav-light{
    background-color: $lilac;
}

.nav-dark{
    background-color: $purple;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-menu{
    display: flex;
}
.navbar-logo{
    width: 100px;
    margin: 0 3rem;
}
.link-dark{
    color: $light-lilac;
    :hover{
        color:$purple;
    }
}
.link-light{
    color: $dark-purple;
    :hover{
        opacity: 60%;
    }
}
.navbar-link{
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem;
}


.navbar-themebutton{
    padding: 0;
    margin-right: 3rem;
    background: none;
    border: none;
    :hover{
        opacity: 70%;
        cursor: pointer;
}

}