$primary-font: "Poppins", sans-serif;

$lilac: rgb(190, 143, 232);
$dark-purple: rgb(55, 36, 72);
$purple: rgb(123, 70, 169);
$light-lilac: rgb(246, 236, 255);
$white: rgb(249, 246, 252);

$light-theme: $light-lilac;
$dark-theme: $dark-purple;


