main{
    background-color: rgb(246, 236, 255);
    font-family: "Poppins", sans-serif;
    padding:2rem;
    flex-grow: 1;
}

.main-title{
    text-align: center;
    color: rgb(55, 36, 72);
    font-size: 3rem;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px)); 
    gap: 16px;
    justify-content: space-between;
    
}