nav{
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -8px 33px -21px rgba(55,36,72,1);
    align-items: center;


}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-menu{
    display: flex;
}
.navbar-logo{
    width: 100px;
    margin: 0 3rem;
}
.dark{
    background-color: rgb(55, 36, 72);
}
.light{
    background-color: rgb(211, 180, 238);
}
.navbar-link{
    font-size: 1.3rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem;
    color: rgb(55, 36, 72);
}
.navbar-link:hover{
    color: rgba(55, 36, 72, 0.664);
}

.navbar-themebutton{
    padding: 0;
    margin-right: 3rem;
    background: none;
    border: none;
}

.navbar-themebutton:hover{
    opacity: 70%;
    cursor: pointer;
}